:root {
    --main-color: #884ea0;
    --main-light-color: #ecf2f6;
    --main-dark-color: #354052;
    --red-color: #edbb99;
    --red-color-darker: #a04000;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-light-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    font-weight: 900;
}

#app {
    display: grid;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 250px;
    grid-template-areas: "Sidebar Header Header" "Sidebar Content Content";
}

#app.sidebar-collapsed {
    grid-template-columns: 80px;
}

#app.sidebar-collapsed #SidebarNavbarContainer > .sidebar-navbar-ul > li > a > span {
    display: none;
}

#app.sidebar-collapsed #SidebarNavbarContainer > .sidebar-navbar-heading h5 {
    text-align: center;
}

#app > #Header {
    grid-area: Header;
}

#app > #Sidebar {
    grid-area: Sidebar;
}

#app > #Content {
    grid-area: Content;
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.heading {
    padding: 2rem;
}

.heading p {
    padding: 0.5rem 0;
    color: #adbbcb;
}

/* HEADER, SIDEBAR AND CONTENT */

#Header,
#Sidebar,
#Content {
    position: relative;
    display: flex;
}

#Content {
    height: 100%;
    overflow: auto;
}

/* HEADER */

#Header {
    border-bottom: 2px solid var(--main-light-color);
    background-color: #fff;
}

#Header > .container {
    flex: 1 0;
    padding: 0;
}

#Header #SidebarToggleButtonContainer,
#Header #HeaderSearchContainer,
#Header #HeaderNavbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Header .button-container,
#Header .input-container {

}

#Header #SidebarToggleButtonContainer {
    flex: 0 0 80px;
}

#Header #HeaderSearchContainer {
    flex: 1 0;
}

#Header #HeaderNavbarContainer {
    flex: 0;
}

#SidebarToggleButtonContainer > .button {
    display: block;
    width: 80px;
    height: 100%;
    padding: 1rem;
    border-right: 2px solid var(--main-light-color);
    font-size: 1.2rem;
    cursor: pointer;
}

#SidebarToggleButtonContainer > .button:hover {
    background-color: var(--main-light-color);
}

#HeaderSearchContainer {
    position: relative;
    display: block;
    width: 100%;
}

#HeaderSearchContainer > .input-wrapper,
#HeaderSearchContainer > .input-wrapper > .search-form {
    width: 100%;
    height: 100%;
}

#HeaderSearchContainer > .input-wrapper > .search-form > .input {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 4rem;
}

#HeaderSearchContainer > .input-wrapper > .search-form > .input:focus {
    background-color: var(--main-light-color);
}

#HeaderSearchContainer > .input-icon {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
}

#HeaderNavbarContainer {}

#HeaderNavbarContainer > .header-navbar-ul,
#HeaderNavbarContainer > .header-navbar-ul > li,
#HeaderNavbarContainer > .header-navbar-ul > li > a{
    height: 100%;
}

#HeaderNavbarContainer > .header-navbar-ul {
    display: flex;
    flex-direction: row;
}

#HeaderNavbarContainer > .header-navbar-ul > li > a {
    display: block;
    width: 80px;
    padding: 1rem;
    border-left: 2px solid var(--main-light-color);
    text-align: center;
    line-height: 45px;
    color: var(--main-color);
}

#HeaderNavbarContainer > .header-navbar-ul > li > a:hover {
    color: #fff;
    background-color: var(--main-color);
}

/* SIDEBAR */

#Sidebar,
#Sidebar > .container {
    flex-direction: column;
}

#Sidebar {
    background-color: var(--main-dark-color);
}

#ProfileSidebarContainer {
    margin-bottom: 2rem;
}

#ProfileSidebarContainer > a {
    display: block;
    width: 100%;
    height: 250px;
    border-bottom: 3px solid #2a3546;
    text-align: center;
    line-height: 250px;
    color: var(--main-light-color);
}

#SidebarNavbarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#SidebarNavbarContainer > .sidebar-navbar-heading h5 {
    padding: 1rem;
    color: #5f718c;
}

#SidebarNavbarContainer > .sidebar-navbar-ul {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid #2a3546;
}

#SidebarNavbarContainer > .sidebar-navbar-ul > li > a {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-light-color);
}

#SidebarNavbarContainer > .sidebar-navbar-ul > li > a:hover,
#SidebarNavbarContainer > .sidebar-navbar-ul > li.active > a {
    position: relative;
    background-color: #2f3a4a;
}

#SidebarNavbarContainer > .sidebar-navbar-ul > li.active > a::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}

#SidebarNavbarContainer > .sidebar-navbar-ul > li > a > div {
    padding: 0 1rem;
}

#SidebarNavbarContainer > .sidebar-navbar-ul.bottom {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

#SidebarNavbarContainer > .sidebar-navbar-ul.bottom > li,
#SidebarNavbarContainer > .sidebar-navbar-ul.bottom > li > a {
    display: flex;
    width: 100%;
}

/* CONTENT / PAGES */
#Content {
    position: relative;
    height: 100%;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
}

.page .column {
    margin: 0.25rem 0;
    padding: 1rem 0;
    border-bottom: 2px solid var(--main-light-color);
}

.page .column p {
    display: flex;
}

.page .column p span {
    flex: 1 0;
    font-weight: 900;
}

.page .column h2 {
    text-transform: uppercase;
}

.page > .container {
    position: relative;
    height: 100%;
}

.page .page-heading,
.page .page-heading h2 {
    width: 100%;
}

.page .page-heading h2 {
    padding: 4rem;
    background-color: #fff;
}

.page .page-navbar {
    padding: 0 4rem;
    background-color: #fff;
}

.page .page-navbar ul {
    display: flex;
    flex-direction: row;
}

.page .page-navbar ul li a {
    position: relative;
    display: block;
    margin-right: 1rem;
    padding: 1.5rem 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #8492a5;
}

.page .page-navbar ul li.active a {
    color: var(--main-dark-color);
}

.page .page-navbar ul li.active a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
}

.page .container {
    position: relative;
    flex-direction: column;
    height: 100%;
}

.page .row-container {
    position: relative;
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.page .row-container > .content-container {
    flex: 1 0;
    height: 100%;
}

.page .row-container > .content-container {
    padding: 2rem;
}

.page .row-container > .content-container.first {
    flex: 1 0;
}

.page .content-heading h4 {
    padding: 2rem 3rem;
    border-radius: 10px 10px 0 0;
    color: var(--main-light-color);
    text-transform: uppercase;
    background-color: #6f7d95;
}

.page .left-content-container,
.page .right-content-container {
    padding: 2rem 3rem;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}

    /* DASHBOARD */
    #DashboardPage {

    }

/* FORMS */

.form > .form-container > .input-container {
    position: relative;
}

.form > .form-container > .input-container > .input-wrapper > .input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 4rem;
    border: 2px solid var(--main-light-color);
    border-radius: 10px;
}

.form > .form-container > .input-container > .input-wrapper > .input:focus {
    background-color: var(--main-light-color);
}

.form > .form-container > .input-container > .input-icon {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    color: var(--main-color);
    transform: translateY(-50%);
}

.form > .form-container > .input-container > .button-wrapper > .button {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

.form > .form-container > .input-container > .button-wrapper > .button:hover {
    background-color: #9b59b6;
}

/* MESSAGES */

.messages > .flashes > .message {
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.messages > .flashes > .message.warning {
    color: #b7950b;
    background-color: #f9e79f;
}

.messages > .flashes > .message.error {
    color: #a04000;
    background-color: #edbb99;
}

.messages > .flashes > .message.success {
    color: #239b56;
    background-color: #abebc6;
}

/* WTFORM ERRORS */

.wtform-input-error {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    color: #a04000;
    background-color: #edbb99;
}