{% extends 'base.html' %}
{% block title %}Admin Users{% endblock %}
{% block style %}
<style>
    #SettingsPage ul {
        padding: 0;
        border-bottom: 2px solid var(--main-light-color);
    }

    #SettingsPage ul li a {
        display: block;
    }
</style>
{% endblock %}
{% block content %}
    <div id="ChangePasswordPage" class="change-password-page page">
        <div class="container">
            <div class="page-heading">
                <h2>Settings</h2>
            </div>
            {% include 'user/settings/settings_navbar.html' %}
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>Change Password</h4>
                    </div>
                    <div class="left-content-container">
                        <form class="form" method="post">
                            {{ form.csrf_token }}
                            <div class="form-container">
                                {% for error in form.password.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.password(class='input', placeholder='Current password') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-key"></i>
                                    </div>
                                </div>
                                {% for error in form.new_password.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.new_password(class='input', placeholder='New password') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-key"></i>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="button-wrapper">
                                        <button type="submit" class="button">Change Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="content-container second">
                </section>
            </div>
        </div>
    </div>
{% endblock %}