<nav class="page-navbar">
    <ul>
        <li class="{{ 'active' if request.path == '/user/settings/' else '' }}">
            <a href="{{ url_for('auth.user_settings') }}">Information</a>
        </li>
        <li class="{{ 'active' if request.path == '/user/settings/password/' else '' }}">
            <a href="{{ url_for('auth.change_password') }}">Password</a>
        </li>
    </ul>
</nav>