{% extends 'base.html' %}
{% block title %}Admin Users{% endblock %}
{% block style %}
<style>
    #SettingsPage ul {
        padding: 0;
        border-bottom: 2px solid var(--main-light-color);
    }

    #SettingsPage ul li a {
        display: block;
    }
</style>
{% endblock %}
{% block content %}
    <div id="SettingsPage" class="settings-page page">
        <div class="container">
            <div class="page-heading">
                <h2>Settings</h2>
            </div>
            {% include 'user/settings/settings_navbar.html' %}
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>Change Information</h4>
                    </div>
                    <div class="left-content-container">
                        <form class="form" method="post">
                            {{ form.csrf_token }}
                            <div class="form-container">
                                {% for error in form.username.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.username(class='input', placeholder='Username', value=current_user.username) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                </div>
                                {% for error in form.email.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.email(class='input', placeholder='Email Address', value=current_user.email) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                {% for error in form.firstname.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.firstname(class='input', placeholder='First Name', value=current_user.firstname) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-signature"></i>
                                    </div>
                                </div>
                                {% for error in form.surname.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.surname(class='input', placeholder='Surname', value=current_user.surname) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-signature"></i>
                                    </div>
                                </div>
                                {% for error in form.address.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.address(class='input', placeholder='Address', value=current_user.address) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-address-card"></i>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="button-wrapper">
                                        <button type="submit" class="button">Update Information</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="content-container second">
                </section>
            </div>
        </div>
    </div>
{% endblock %}