{% extends 'base.html' %}
{% block title %}Admin Users{% endblock %}
{% block style %}
<style>
    #AdminUserAddPage ul {
        padding: 1rem 0;
        border-bottom: 2px solid var(--main-light-color);
    }

    #AdminUserAddPage ul li a {
        display: block;
        color: var(--main-color);
    }
</style>
{% endblock %}
{% block content %}
    <div id="AdminUserAddPage" class="admin-user-add-page page">
        <div class="container">
            <div class="page-heading">
                <h2>Add User</h2>
            </div>
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>Add A New User</h4>
                    </div>
                    <div class="left-content-container">
                        <form class="form" method="post">
                            {{ form.csrf_token }}
                            <div class="form-container">
                                {% for error in form.username.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.username(class='input', placeholder='Username') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                </div>
                                {% for error in form.email.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.email(class='input', placeholder='Email Address') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                {% for error in form.firstname.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.firstname(class='input', placeholder='First Name') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-signature"></i>
                                    </div>
                                </div>
                                {% for error in form.surname.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.surname(class='input', placeholder='Surname') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-signature"></i>
                                    </div>
                                </div>
                                {% for error in form.address.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.address(class='input', placeholder='Address') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-address-card"></i>
                                    </div>
                                </div>
                                {% for error in form.password.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.password(class='input', placeholder='Password') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-key"></i>
                                    </div>
                                </div>
                                {% for error in form.access_level.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.access_level(class='input', placeholder='Access Level') }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-turn-up"></i>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="button-wrapper">
                                        <button type="submit" class="button">Add User</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="content-container second">
                </section>
            </div>
        </div>
    </div>
{% endblock %}