{% extends 'base.html' %}
{% block title %}Admin Users{% endblock %}
{% block style %}
<style>
    .column:last-child {
        border: none;
    }
    .column > form > button {
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        color: #c0392b;
        background-color: var(--red-color);
        cursor: pointer;
    }
    .column > form > button:hover {
        color: #fff;
        background-color: #c0392b;
    }
</style>
{% endblock %}
{% block content %}
    <div id="DisplayUserPage" class="display-user-page page">
        <div class="container">
            <div class="page-heading">
                <h2>User</h2>
            </div>
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>{{ user.username }}'s Information</h4>
                    </div>
                    <div class="left-content-container">
                        <div class="column">
                            <h2>{{ user.username }}</h2>
                        </div>
                        <div class="column">
                            <p><span>ID:</span> {{ user.id }}</p>
                        </div>
                        <div class="column">
                            <p><span>Email:</span> {{ user.email }}</p>
                        </div>
                        <div class="column">
                            <p><span>Name:</span> {{ user.firstname }} {{ user.surname }}</p>
                        </div>
                        <div class="column">
                            <p><span>Address:</span> {{ user.address }}</p>
                        </div>
                        <div class="column">
                            <p><span>Access Level:</span> {{ user.access_level }}</p>
                        </div>
                        {% if current_user.access_level == 3 %}
                        <div class="column">
                            <form method="post" 
                                action="/admin/users/{{ user.id }}/delete"
                                onsubmit="return confirm('Do you really want to delete user {{ user.username }}?');">
                                <input type="hidden" name="id" value="{{ user.id }}" />
                                <button type="submit">Delete User</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </section>
                {% if current_user.access_level == 3 %}
                <section class="content-container second">
                    <div class="left-content-heading content-heading">
                        <h4>Change {{ user.username }}'s Information</h4>
                    </div>
                    <div class="right-content-container">
                        <form class="form" method="post">
                            {{ form.csrf_token }}
                            <div class="form-container">
                                {% for error in form.username.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.username(class='input', placeholder='Username', value=user.username) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                </div>
                                {% for error in form.email.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.email(class='input', placeholder='Email Address', value=user.email) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                {% for error in form.firstname.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.firstname(class='input', placeholder='First Name', value=user.firstname) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-signature"></i>
                                    </div>
                                </div>
                                {% for error in form.surname.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.surname(class='input', placeholder='Surname', value=user.surname) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-signature"></i>
                                    </div>
                                </div>
                                {% for error in form.address.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.address(class='input', placeholder='Address', value=user.address) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-address-card"></i>
                                    </div>
                                </div>
                                {% for error in form.access_level.errors %} <p class="wtform-input-error">{{ error }}</p> {% endfor %}
                                <div class="input-container">
                                    <div class="input-wrapper">
                                        {{ form.access_level(class='input', placeholder='Access Level', value=user.access_level) }}
                                    </div>
                                    <div class="input-icon">
                                        <i class="fa-solid fa-turn-up"></i>
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="button-wrapper">
                                        <button type="submit" class="button">Update Information</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}