{% extends 'base.html' %}
{% block title %}Admin Users{% endblock %}
{% block style %}
<style>
    #AdminUsersPage ul {
        padding: 1rem 0;
        border-bottom: 2px solid var(--main-light-color);
    }

    #AdminUsersPage ul li a {
        display: block;
        color: var(--main-color);
    }
</style>
{% endblock %}
{% block content %}
    <div id="AdminUsersPage" class="admin-users-page page">
        <div class="container">
            <div class="page-heading">
                <h2>Users</h2>
            </div>
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>Users</h4>
                    </div>
                    <div class="left-content-container">
                        {% for user in users %}
                            <ul>
                                <li>
                                    <a href="{{ url_for('admin.display_user', id = user.id ) }}"><h3>{{ user.username }}</h3></a>
                                </li>
                                <li>
                                    <a href="{{ url_for('admin.display_user', id = user.id ) }}">{{ user.email }}</a>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </section>
                <section class="content-container second">
                </section>
            </div>
        </div>
    </div>
{% endblock %}