<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/all.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
        {% block style %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main id="app">
            {% if current_user.is_authenticated %}
                {% include 'header.html' %}
                {% include 'sidebar.html' %}
            {% endif %}
            <section id="Content" class="content">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </main>
        
        <script src="{{ url_for('static', filename = 'js/all.min.js') }}" async defer></script>
        <script src="{{ url_for('static', filename = 'js/js.cookie.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>