<header id="Header" class="header">
    <div class="container">
        <div id="SidebarToggleButtonContainer" class="sidebar-toggle-button-container button-container">
            <button class="button">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div id="HeaderSearchContainer" class="sidebar-search-container input-container">
            <div class="input-wrapper">
                <form id="SearchForm" class="search-form" method="get" action="{{ url_for('auth.search') }}">
                    <input type="search" name="search" class="input" placeholder="Enter something to search for..." />
                </form>
            </div>
            <div class="input-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <nav id="HeaderNavbarContainer" class="header-navbar">
            <ul class="header-navbar-ul">
                {% if current_user.access_level == 3 %}
                <li>
                    <a href="{{ url_for('admin.add_user') }}"><i class="fa-solid fa-user-plus"></i></a>
                </li>
                {% endif %}
                <li>
                    <a href="#"><i class="fa-solid fa-grip-vertical"></i></a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>