{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        <div id="Messages" class="messages">
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="message {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}