{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
    <div id="DashboardPage" class="dashboard-page page">
        <div class="container">
            <div class="page-heading">
                <h2>Search</h2>
            </div>
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>Results</h4>
                    </div>
                    <div class="left-content-container">
                        {% if search_result %}
                            {% for result in search_result %}
                                <p>{{ result }}</p>
                            {% endfor %}
                        {% else %}
                            <p>Couldn't find anything...</p>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}