<div id="Sidebar" class="sidebar">
    <div class="container">
        <div id="ProfileSidebarContainer" class="profile-sidebar-container">
            <a href="{{ url_for('auth.user_profile', name = current_user.username) }}">{{ current_user.username }}</a>
        </div>
        <nav id="SidebarNavbarContainer" class="sidebar-navbar-container">
            <div class="sidebar-navbar-heading">
                <h5>Main</h5>
            </div>
            <ul class="sidebar-navbar-ul">
                <li class="{{ 'active' if request.path == '/dashboard/' else '' }}">
                    <a href="{{ url_for('auth.dashboard') }}">
                        <div><i class="fa-solid fa-gauge"></i></div> <span>Dashboard</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-navbar-heading">
                <h5>User</h5>
            </div>
            <ul class="sidebar-navbar-ul">
                <li class="{{ 'active' if request.path == '/user/' + current_user.username else '' }}">
                    <a href="{{ url_for('auth.user_profile', name = current_user.username) }}">
                        <div><i class="fa-solid fa-id-badge"></i></div> <span>Your Profile</span>
                    </a>
                </li>
            </ul>
            {% if current_user.access_level == 2 or current_user.access_level == 3 %}
            <div class="sidebar-navbar-heading">
                <h5>Admin</h5>
            </div>
            {% endif %}
            {% if current_user.access_level == 2 or current_user.access_level == 3 %}
            <ul class="sidebar-navbar-ul">
                {% if current_user.access_level == 2 or current_user.access_level == 3 %}
                <li class="{{ 'active' if '/admin/users/' in request.path and request.path != '/admin/users/add/' else '' }}">
                    <a href="{{ url_for('admin.admin_users') }}">
                        <div><i class="fa-solid fa-user-group"></i></div> <span>Users</span>
                    </a>
                </li>
                {% endif %}
                {% if current_user.access_level == 3 %}
                <li class="{{ 'active' if request.path == '/admin/users/add/' else '' }}">
                    <a href="{{ url_for('admin.add_user') }}">
                        <div><i class="fa-solid fa-user-plus"></i></div> <span>Add User</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="sidebar-navbar-ul bottom">
                <li class="{{ 'active' if request.path == '/user/settings/' or request.path == '/user/settings/password/' or request.path == '/settings/password/' else '' }}">
                    <a href="{{ url_for('auth.user_settings') }}">
                        <div><i class="fa-solid fa-gear"></i></div> <span>Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>