{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block style %}
<style>
    #Skills > .skills-container {
        position: relative;
        margin: 1.5rem 0;
        z-index: 1;
    }
    #Skills > .skills-container > div {
        position: relative;
        display: flex;
        flex-direction: row;
        color: #fff;
    }
    #Skills > .skills-container > div > p {
        position: absolute;
        top: 50%;
        left: 1.5rem;
        font-weight: 900;
        transform: translateY(-50%);
    }
    #Skills > .skills-container > div > span {
        flex: 1 0;
        padding: 1.5rem;
    }
    #Skills > .skills-container > div > span.color-fill {
        border-radius: 10px 0 0 10px;
        background-color: var(--main-color);
    }
    #Skills > .skills-container > div:hover > span.color-fill {
        background-color: #9b59b6;
    }
    #Skills > .skills-container > div > span.color-white {
        border-radius: 0 10px 10px 0;
        background-color: var(--main-light-color);
    }
    #Skills > .skills-container:first-child > div > span.color-fill {
        flex: 0 0 80%;
    }
    #Skills > .skills-container:nth-child(2) > div > span.color-fill {
        flex: 0 0 80%;
    }
    #Skills > .skills-container:nth-child(3) > div > span.color-fill {
        flex: 0 0 70%;
    }
    #Skills > .skills-container:nth-child(4) > div > span.color-fill {
        flex: 0 0 90%;
    }
    #Skills > .skills-container:nth-child(5) > div > span.color-fill {
        flex: 0 0 50%;
    }
    #Skills > .skills-container:nth-child(6) > div > span.color-fill {
        flex: 0 0 30%;
    }
    #Skills > .skills-container:nth-child(7) > div > span.color-fill {
        flex: 0 0 50%;
    }
    #Skills > .skills-container:nth-child(8) > div > span.color-fill {
        flex: 0 0 60%;
    }
</style>
{% endblock %}
{% block content %}
    <div id="DashboardPage" class="dashboard-page page">
        <div class="container">
            <div class="page-heading">
                <h2>Dashboard</h2>
            </div>
            <nav class="page-navbar">
                <ul>
                    <li class="{{ 'active' if request.path == '/dashboard/' else '' }}">
                        <a href="#">Summary</a>
                    </li>
                </ul>
            </nav>
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>Summary</h4>
                    </div>
                    <div class="left-content-container">
                        <div id="Skills">
                            <div class="skills-container">
                                <div>
                                    <p>HTML5</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                            <div class="skills-container">
                                <div>
                                    <p>CSS3</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                            <div class="skills-container">
                                <div>
                                    <p>SASS/SCSS</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                            <div class="skills-container">
                                <div>
                                    <p>JAVASCRIPT & JQUERY</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                            <div class="skills-container">
                                <div>
                                    <p>PYTHON & FLASK</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                            <div class="skills-container">
                                <div>
                                    <p>C++</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                            <div class="skills-container">
                                <div>
                                    <p>VUE</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                            <div class="skills-container">
                                <div>
                                    <p>PHOTOSHOP</p>
                                    <span class="color-fill"></span>
                                    <span class="color-white"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}