{% extends 'base.html' %}
{% block style %}
<style type="text/css">
    #app,
    #Content,
    #Content > .container {
        width: 100%;
        height: 100%;
    }

    #app {
        display: flex;
    }

    #LoginForm {
        position: absolute;
        min-width: 500px;
        max-width: 1000px;
        width: 35%;
        top: 50%;
        left: 50%;
        padding: 1rem;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 50px #CCC;
        transform: translate(-50%, -50%);
    }

    .heading-login {
        padding: 1rem;
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
<form id="LoginForm" class="login-form form" method="post">
    {{ form.csrf_token }}
    <div class="form-container">
        <div class="heading-login heading">
            <h2>Welcome back</h2>
            <p>Enter your credentials to access your account.
        </div>
        {% include 'messages.html' %}
        <div class="input-container">
            <div class="input-wrapper">
                {{ form.email(class='input', placeholder='Enter your email') }}
            </div>
            <div class="input-icon">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>
        <div class="input-container">
            <div class="input-wrapper">
                {{ form.password(class='input', placeholder='Enter your password') }}
            </div>
            <div class="input-icon">
                <i class="fa-solid fa-key"></i>
            </div>
        </div>
        <div class="input-container">
            <div class="button-wrapper">
                <button type="submit" class="button">Sign In</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}