{% extends 'base.html' %}
{% block title %}Admin Users{% endblock %}
{% block style %}
<style>
    .column:last-child {
        border: none;
    }
    .column > form > button {
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--red-color);
        cursor: pointer;
    }
    .column > form > button:hover {
        color: #fff;
        background-color: #c0392b;
    }
</style>
{% endblock %}
{% block content %}
    <div id="DisplayUserPage" class="display-user-page page">
        <div class="container">
            <div class="page-heading">
                <h2>User</h2>
            </div>
            {% include 'messages.html' %}
            <div class="row-container">
                <section class="content-container first">
                    <div class="left-content-heading content-heading">
                        <h4>{{ user.username }}'s Information</h4>
                    </div>
                    <div class="left-content-container">
                        <div class="column">
                            <h2>{{ user.username }}</h2>
                        </div>
                        <div class="column">
                            <p><span>ID:</span> {{ user.id }}</p>
                        </div>
                        <div class="column">
                            <p><span>Email:</span> {{ user.email }}</p>
                        </div>
                        <div class="column">
                            <p><span>Name:</span> {{ user.firstname }} {{ user.surname }}</p>
                        </div>
                        <div class="column">
                            <p><span>Address:</span> {{ user.address }}</p>
                        </div>
                        <div class="column">
                            <p><span>Access Level:</span> {{ user.access_level }}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}